# Bỏ qua dữ liệu ảnh nặng, giữ lại toàn bộ file mapping/metadata đã xử lý
data/raw/
data/processed/images/
!data/processed/*.json
!data/processed/*.csv
# models/

# Bỏ qua các file rác của hệ thống và Python
**/__pycache__/
*.py[cod]
*$py.class
.vscode/
.ipynb_checkpoints/